<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus Contatos Estão Abaixo</p>
    </div>
    <%- include("includes/messages") %>
    <% if (contacts.length > 0) { %>
    <div class="responsive-table ">
      <table class="table table-dark my-3">
        <% contacts.forEach(contact => { %>
        <tr>
          <td><%= contact.name %> </td>
          <td><%= contact.lastName %> </td>
          <td><%= contact.tel %></td>
          <td><%= contact.email %></td>
          <!-- <td><%= contact.createIn %></td> -->
          <td><a class="btn btn-primary" href="/contato/index/<%= contact._id %>">Editar</a></td>
          <td><a class="btn btn-danger" href="/contato/delete/<%= contact._id %>">Excluir</a></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <% } else { %>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </symbol>
    </svg>
    <div class=" my-5 alert bg-warning d-flex align-items-center justify-content-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill" /></svg>
      <div>
        <strong>Atenção!</strong>
        <p>Não há contatos cadastrados.</p>
      </div>
    </div>
    <% } %>

  </div>
  <div class="col-lg-2"></div>
</div>
<%- include('includes/footer') %>